@model LuisCorreiaOsteopata.WEB.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />

@section MainMenu
{
    <partial name="_Menu"></partial>
}

<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h3>Editar Produto</h3>
            <div class="thm-breadcrumb__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span class="icon-arrow-left"></span></li>
                    <li>Editar Produto</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="appoinment-page" id="product-section" style="margin-top: -100px">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ImageUrl" />

                        <partial name="_Products" />

                        <div class="form-group">
                            <button type="submit" class="thm-btn"><i style="margin: 5px" class="fa fa-save"></i>Guardar</button>
                            <a asp-action="Index" class="cancel-btn"><i style="margin: 5px" class="fa fa-chevron-left"></i>Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-4">
                <img src="@Model.ImageFullPath" style="max-width: 600px; max-height: 600px; object-fit: contain; margin-left: 20px; border: 1px solid #ccc; border-radius: 5px;" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script type="text/javascript">
        const quill = new Quill('#editor', {
          modules: {
            syntax: true,
            toolbar: '#toolbar-container',
          },
          placeholder: 'Descrição...',
          theme: 'snow',
        });

        quill.format('size', 'large');

        $('#toolbar-container select').addClass('ignore');

        document.addEventListener("DOMContentLoaded", function ()
        {
            const productSection = document.getElementById("product-section");
            if (productSection)
            {
                productSection.scrollIntoView({ behavior: "smooth" });
            }
        });

        const descriptionInput = document.getElementById('Description');
        if (descriptionInput.value) {
            quill.root.innerHTML = descriptionInput.value;
        }

        const form = document.querySelector('form');

        form.addEventListener('submit', function() {
          const descriptionInput = document.getElementById('Description');
          descriptionInput.value = quill.root.innerHTML;
        });
    </script>
}

