@model LuisCorreiaOsteopata.WEB.Models.AddNewStaffViewModel

@{
    ViewData["Title"] = "Criar Colaborador";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section MainMenu
{
    <li class="scrollToLink">
        <a asp-controller="Account" asp-action="Index">Home </a>
    </li>
    <li>
        <a href="#blog">Blog</a>
    </li>
    <li class="dropdown">
        <a><i class="fas fa-user"></i></a>
        <ul>
            <li><a asp-action="Profile">Perfil</a></li>
            <li><a asp-action="Logout">Logout</a></li>
        </ul>
    </li>
}

<section class="page-header">
    <div class="page-header__bg" style="background-image: url(~/assets/images/backgrounds/page-header-bg.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h3>Criar Colaborador</h3>
            <div class="thm-breadcrumb__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a asp-action="Index">Home</a></li>
                    <li><span class="icon-arrow-left"></span></li>
                    <li>Criar Colaborador</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Start Sign Up One-->
<section class="sign-up-one" id="register-section">
    <div class="container">
        <div class="sign-up-one__form">
            <div class="inner-title text-center">
                <h2>Criar Colaborador</h2>
            </div>
            <form method="post">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <span asp-validation-for="FirstName"></span>
                                <input asp-for="FirstName" type="text" placeholder="Primeiro nome..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <span asp-validation-for="LastName"></span>
                                <input asp-for="LastName" type="text" placeholder="Último nome..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                            <div class="input-box">
                                <span asp-validation-for="Email"></span>
                                <input asp-for="Email" type="email" placeholder="Email de colaborador..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <span asp-validation-for="PhoneNumber"></span>
                                <input asp-for="PhoneNumber" type="tel" id="phone" placeholder="Telefone..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <span asp-validation-for="Nif"></span>
                                <input asp-for="Nif" type="text" placeholder="Nif..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="select-box">
                                <span asp-validation-for="Role"></span>
                                <input asp-for="Role" type="hidden" readonly value="Colaborador" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                            <button class="thm-btn" type="submit" data-loading-text="Por favor aguarda...">
                                Criar
                                <span class="icon-right-arrow"></span>
                            </button>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly"></div>
                </div>
            </form>
        </div>
    </div>
</section>>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function () 
                {
                    const registerSection = document.getElementById("register-section");
                    if (registerSection)
                    {
                        registerSection.scrollIntoView({ behavior: "smooth" });
                    }

                    const input = document.querySelector("#phone");

                    const iti = window.intlTelInput(input, 
                    {
                        initialCountry: "pt",
                        separateDialCode: true,
                        formatOnDisplay: true
                    });

                    const form = input.closest("form");
                    form.addEventListener("submit", function () 
                    {
                        if (iti.isValidNumber()) 
                        {
                            input.value = iti.getNumber(); 
                        } 
                        else 
                        {
                            alert("Número de telefone inválido.");
                            event.preventDefault();
                        }
                    });
                });
        </script>
    }
}

