@model LuisCorreiaOsteopata.WEB.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

@section MainMenu
{
    <li>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>
}

<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h3>Recuperar Password</h3>
            <div class="thm-breadcrumb__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span class="icon-arrow-left"></span></li>
                    <li>Recuperar Password</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="login-one">
    <div class="container">
        <div class="login-one__form">
            <div class="inner-title text-center">
                <h2>Recuperar Password</h2>
            </div>
            <div class="row">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <div class="input-box">
                            <span asp-validation-for="Email"></span>
                            <input asp-for="Email" type="text" placeholder="Insere o email da tua conta" />
                        </div>
                    </div>
                    <button class="thm-btn" type="submit">Recuperar</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const style = document.createElement('style');
            style.innerHTML = `
                .toast-center {
                    top: 50% !important;
                    transform: translateY(-50%) !important;
                }
            `;
            document.head.appendChild(style);

            var message = '@ViewBag.ForgotPasswordMessage';
            var isError = '@ViewBag.IsError' === 'True';
            if (message && message.trim() !== '') {
                Toastify({
                    text: message,
                    duration: 5000,
                    gravity: "center",
                    position: "center",
                    backgroundColor: "#4BB543",
                    className: "toast-center",
                    close: true
                }).showToast();
            }
        });
    </script>
}

