<li>
    <a asp-controller="Home" asp-action="Index"><i style="margin-right: 5px" class="fas fa-home"></i>Home </a>
</li>
@if (User.IsInRole("Administrador"))
{
    <li class="dropdown">
        <a><i style="margin-right: 5px;" class="fas fa-user-shield"></i>Funcionalidades de Administrador</a>
        <ul>
            <li class="dropdown">
                <a><i style="margin-right: 5px" class="fas fa-users-cog align-content-center"></i>Gestão de Utilizadores</a>
                <ul>
                    <li><a asp-controller="Account" asp-action="AddStaff"><i style="margin-right: 5px" class="fas fa-user-plus align-content-center"></i>Criar Colaborador</a></li>
                    <li><a asp-controller="Account" asp-action="ViewAllUsers"><i style="margin-right: 5px" class="fas fa-users align-content-center"></i>Ver Utilizadores</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a><i style="margin-right: 5px" class="fas fa-calendar-check align-content-center"></i>Gestão de Consultas</a>
                <ul>
                    <li><a asp-controller="Appointment" asp-action="ViewAppointments">Ver Todas as Consultas</a></li>
                    <li><a asp-controller="Appointment" asp-action="Index"><i style="margin-right: 5px" class="far fa-calendar-plus align-content-center"></i>Marcar Consulta</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a><i style="margin-right: 5px" class="fas fa-shopping-bag align-content-center"></i>Gestão de Produtos</a>
                <ul>
                    <li><a asp-controller="Products" asp-action="Index">Ver Produtos</a></li>
                    <li><a asp-controller="Products" asp-action="Create">Criar Produto</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a><i style="margin-right: 5px" class="fas fa-barcode align-content-center"></i>Gestão de Pedidos</a>
                <ul>
                    <li><a asp-controller="Orders" asp-action="ViewAllOrders">Ver Pedidos</a></li>
                </ul>
            </li>
        </ul>
    </li>
}
@if (User.IsInRole("Colaborador"))
{
    <li class="dropdown">
        <a><i style="margin-right: 5px;" class="fas fa-user-plus"></i>Funcionalidades de Colaborador</a>
        <ul>
            <li class="dropdown">
                <a><i style="margin-right: 5px" class="fas fa-users-cog align-content-center"></i>Gestão de Utilizadores</a>
                <ul>
                    <li><a asp-controller="Account" asp-action="ViewAllUsers">Ver Utilizadores</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a><i style="margin-right: 5px" class="fas fa-calendar-check"></i>Gestão de Consultas</a>
                <ul>
                    <li><a asp-controller="Appointment" asp-action="ViewAppointments">Ver Todas as Consultas</a></li>
                    <li><a asp-controller="Appointment" asp-action="Index"><i style="margin-right: 5px" class="far fa-calendar-plus align-content-center"></i>Marcar Consulta</a></li>
                </ul>
            </li>
        </ul>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Utente"))
{
    <li>
        <a asp-controller="Products" asp-action="ViewProducts"><i style="margin-right: 5px" class="fas fa-shopping-bag align-content-center"></i>Ver Produtos</a>
    </li>
    <li>
        <a asp-controller="Orders" asp-action="Index"><i style="margin-right: 5px" class="fas fa-shopping-bag align-content-center"></i>Os Meus Pedidos</a>
    </li>
    <li>
        <a asp-controller="Orders" asp-action="Create">
            <i style="margin-right: 5px" class="fas fa-shopping-cart"></i>
            Carrinho
            <span class="cart-badge">0</span>
        </a>
    </li>
}
@if (User.Identity.IsAuthenticated)
{
    <li class="dropdown">
        <a><i style="margin-right: 5px;" class="fas fa-user"></i>Área Pessoal</a>
        <ul>
            <li><a asp-controller="Account" asp-action="Profile"><i style="margin-right: 5px" class="fas fa-user-edit align-content-center"></i>Perfil</a></li>
            <li><a asp-controller="Account" asp-action="Security"><i style="margin-right: 5px" class="fas fa-user-lock align-content-center"></i>Privacidade e Segurança</a></li>
            <li><a asp-controller="Account" asp-action="Logout"><i style="margin-right: 5px" class="fas fa-sign-out-alt align-content-center"></i>Logout</a></li>
        </ul>
    </li>
}